#board {
  display: flex;
  justify-content: center;
}
ul {
  list-style: none;
  width: 300px;
}
li {
  float:left;
  text-align: center;
  font-size: 40px;
  width: 90px;
  height: 90px;
  border: solid 5px black;
  background: gray;
  cursor: pointer;
}

li:hover {
  background: pink;
}
